<!DOCTYPE html>
<html lang="eng">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE-Edge">
		<meta name= "viewport" content="width=device-width, initial-scale=1.0">
		<title>Add Menu Item</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
	</head>
	<body>
		<div class="container">
			<div class = "row">
				<div class = "col-md-4">
					<a href="{{url_for('welcome')}}">
					<img class= "img-responsive" src="{{ url_for('static', filename = 'images/logImage.jpg')}}" alt="logo">
					</a>
				</div>
				<div class = "col-md-8"><h2><a href="{{url_for('homepage', user_id = user_id)}}">Back to {{name}}'s Activities</a></h2></div>
			</div>	
			<div class = "row"><hr></div>
			<div class= " row main_section">
				<h2>{{name}}: &nbsp Add your Event</h2>
				<div class = "spacer"></div>
				<div class = "row text-right">
						<a href="{{url_for('gdisconnect')}}" class = "btn btn-info" role = "button">Sign Out</a>
			</div>
				<div class = "col-md-2"></div>
				<div class = "col-md-8">
					<form method = 'POST' action = "{{url_for('addActivityInstance', user_id = user_id)}}">
						<b>Activity:&nbsp</b><select name='act'>
							{% for a in al %}
							<option value = "{{a}}">{{a}}</option>
							{%endfor%}
						</select> &nbsp 
						<a href="{{url_for('addActivity', user_id = user_id)}}">&nbspAdd&nbsp</a>
						<a href="#">&nbspEdit&nbsp</a>
						<a href="#">&nbspDelete&nbsp</a><br>
						<b>Subactivity:&nbsp</b><select name='subact'>
							<b>Subactivity:</b><br>
							{% for s in sal %}
							<option value = "{{s}}">{{s}}</option>
							{%endfor%}
						</select>&nbsp 
						<a href="{{url_for('addSubactivity', user_id = user_id)}}">&nbspAdd&nbsp</a>
						<a href="#">&nbspEdit&nbsp</a>
						<a href="#">&nbspDelete&nbsp</a><br>
						<br>

						Date: <input type = "text" size="30" name = "date" placeholder= ""><br>
						Location: <input type = "text" size="30" name = "location" placeholder= ""><br>
						Description: <input type = "text" width="90" name = "description" placeholder= ""><br>
						<br>
						<input type = "submit" value = "Submit!!">
					</form>
				</div>
				<div class = "col-md-2"></div><br>
				<div class = "spacer"><a href="#">Cancel</a></div>
			</div>	
		</div> <!--end of container-->
	</body>
</html>






